*{
    user-select: none;
}

.Box{
    background-color: azure;
    padding:8px 12px;
    width:30vw;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: transform 0.3s;
    background: #2b2a2e64;
    border-radius: 7px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    

}

.Box:hover{
    transform: scale(1.1)
}

.JobName{
    width:45%;
    color:white;
    text-align: center;
}

.Date{
    width:12%;
    color:white;
    text-align: center;
    position:relative;
    right:25px;
    font-weight: 200;
}


.Circle{
    border-radius: 50%;
    background-color: aliceblue;
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    right:12px;
}