:root{
    --borderradius:7px;
}

*{
    user-select: none;
}

.Box{
    background-color: azure;
    padding:8px 12px;
    width:90%;
    height:36px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background: #2b2a2e64;
    border-radius: 7px;
    box-shadow: 4px 8px 12px #00000034;
    
    transition: transform 0.5s;
}

.Box >div{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}

.Box:hover{
    transform: scale(1.02);
}

.JobName{
    width:45%;
    color:white;
    text-align: center;
}

.Date{
    width:12%;
    color:white;
    text-align: center;
    position:relative;
    right:25px;
    font-weight: 200;
}


.Circle{
    border-radius: 50%;
    background-color: aliceblue;
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    right:12px;
}

.Start{
    border-radius: var(--borderradius);
    background-color: rgb(22, 171, 22);
    padding:5px 18px;
    color:white;
    font-size: small;
    transition: transform 0.3s;
    cursor:pointer;
}

.Start:hover{
    transform:scale(1.15);
}

.Snooze{
    border-radius: var(--borderradius);
    background-color: orange;
    padding:5px 18px;
    color:white;
    font-size: small;
    transition: transform 0.3s;
    cursor:pointer;
}

.Snooze:hover{
    transform:scale(1.15);
}