.MainPage{
    width:92.6vw;
    height:100vh;
    position:absolute;
    padding:4px;
    display:flex;
    align-items: center;
    justify-content: center;
  }

.Hero{
    margin:0;
    height: 100%;
    width: 90%;
    background: linear-gradient(178.69deg, rgba(200, 212, 223, 0.2145) 27.16%, rgba(200, 212, 223, 0.0132) 117.47%);
    border-radius: 7px;
    overflow:scroll;
    display:flex;
    flex-direction: column;
    align-items: center;
  
  }

  .StatusboxContainer{
    height:30%;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .FeedsContainer{
    width:95%;
    height:60%;
    padding-top: 15px;
    margin-top:5%;
    border-radius: 8px;
    background: rgba(191, 191, 194, 0.15);
  }
  
  .Type{
    display:flex;
    justify-content: space-around;
  }

  .Type div{
    cursor:pointer;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    width:50%;
    overflow:hidden;
  }


  .QCState{
    border: 0.5px solid #FFFFFF;
    height:0;
    margin-top:2%;
    width:50%; 
    display:block;
    position: relative;
    left:50%;
    transition:all 1s ease-in-out;
  }


  .notQCState{
    border: 0.5px solid #FFFFFF;
    height:0;
    margin-top:2%;
    width:50%; 
    display:block;
    position: relative;
    left:0;
    transition:all 1s ease-in-out;
  }


  .SendContainer{
    
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    overflow-x:hidden;
    padding:15px 0px;
    align-items: center;
    
    
  }
  
  ::-webkit-scrollbar{
    width:2px;
  }


@keyframes fadein{
  0%{position:relative;
     right:100px;
     opacity:0;
  }
  100%{
    position:relative;
    right:0px;
    opacity:1;
  }
}
