.circle {
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    position:relative;
    left:38px;
    bottom:23px;
  }

.circle-hidden{
    visibility: hidden;
}

.selector{
    transition: ease-out transform  0.2s;
}

.selector:hover{
    transform: scale(1.25);
    color: #9F9F9F;
    cursor:pointer;
}

.selector p{
    transition: color 0.2s;
}

.selector p:hover{
    color : #5f5f5f;
    
}




